<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.pc.dao.InvestmentDao">

	<select id="get" resultType="com.bootdo.pc.domain.InvestmentDO">
		select `id`,`name`,`city`,`tel`,`status`,addtime from pc_investment where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.pc.domain.InvestmentDO">
		select `id`,`name`,`city`,`tel`,`status`,addtime from pc_investment
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
				  <if test="tel != null and tel != ''"> and tel like concat('%',#{tel},'%') </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from pc_investment
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
		  		  <if test="tel != null and tel != ''"> and tel = #{tel} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.pc.domain.InvestmentDO" useGeneratedKeys="true" keyProperty="id">
		insert into pc_investment
		(
			`name`, 
			`city`, 
			`tel`, 
			`status`,
			addtime
		)
		values
		(
			#{name}, 
			#{city}, 
			#{tel}, 
			#{status},
			#{addtime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.pc.domain.InvestmentDO">
		update pc_investment 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="city != null">`city` = #{city}, </if>
			<if test="tel != null">`tel` = #{tel}, </if>
			<if test="status != null">`status` = #{status},</if>
			<if test="addtime != null">`addtime` = #{addtime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from pc_investment where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from pc_investment where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>