<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">了解Holistic</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3 style="color: red;">&nbsp;&nbsp;&nbsp;Holistic</h3>
        <ul>
            <li>Holistic玫苓全人音乐秉承前沿的“全人教育”理念</li>
            <li>在健全人格的基础上，促进学生的全面发展</li>
            <li>让个体生命的潜能得到自由、充分、全面、和谐、持续发展</li>
            <li>培养学生成为有道德（人格）、有知识（智能）、有能力（技能）的“全人”</li>
        </ul>
        <h3 style="color: red;">&nbsp;&nbsp;&nbsp;Holistic</h3>
        <ul>
            <li>系统秉持「音乐」就是一种更好的全人教育</li>
            <li>强调「音乐教学」与「人格教育」并重</li>
            <li>除了乐理知识外，更将人格教育导入课程之中</li>
            <li>藉由团班式的模仿学习，建立孩子的人际互动关系，开拓孩子的学习视野</li>
            <li>循序渐进的让孩子了解自己、找到自己的优势，更懂得如何去欣赏别人</li>
        </ul>
        <h3 style="color: red;">&nbsp;&nbsp;&nbsp;欢迎加入Holistic</h3>
        <ul>
            <li>我看好你哦！！！</li>
        </ul>
    </div>
</div>
</body>
</html>