<!DOCTYPE html>
<html lang="en">
<head>
    <!--↓↓↓↓↓↓↓↓↓禁用缓存↓↓↓↓↓↓↓↓↓↓↓↓-->
    <title th:text="${page.title}+'--'+${keysDO.keys}">关于玫苓</title>
    <meta name="keywords" th:attr="content=${page.seoKeywords}+'--'+${keysDO.keys}" />
    <meta name="description" th:attr="content=${page.seoDescription}+'--'+${keysDO.keys}" />
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <!--↑↑↑↑↑↑↑↑↑↑禁用缓存↑↑↑↑↑↑-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/wap/reseet.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/phone_style.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/flexslider.css">
    <script type="text/javascript" src="/js/jquery-1.9.0.js"></script>
    <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
</head>

<body style="background-color: #fff;">
    <header class="newspage_top" th:style="'background-image:url(' +${page.pageGbPic} + ');'">

        <div class="top_nav_div">
            <div class="top_nav_logo">
                <img src="/images/logo.png" alt="Logo">
            </div>
            <div class="p_mul" id="p_mul">
                <!-- <img src="/images/phone_navIcon.png" alt="">-->
            </div>
        </div>
        <nav id="top_nac_ul"  class="top_nac" th:include="include :: wap_header"></nav>
        <div class="top_title">
            <h1 >新闻动态</h1>
            <p class="cross_bar">
                <span class="left"></span>
                <span class="text">News</span>
                <span class="right"></span>
            </p>
        </div>
    </header>
    <main class="news_main">
        <nav class="news_nav">
            <p>
                新闻类型
            </p>
            <select id="news">
                <option  th:each="newNav:${newsNavList}" th:selected="${gwType==newNav}" th:value="${newNav}" th:text="${newNav}"></option >
            </select>
        </nav>
        <div class="news_art">
            <ul>
                <li th:each="news:${newsList1}">
                    <div class="img_div">
                        <img th:src="${news.gwImg1}" alt="">
                    </div>
                    <div class="test_div">
                        <time>
                            <span th:text="${#dates.format(news.gwChangeStartTime, 'yyyy-MM ')}">
                            2018-07
                        </span><span class="big" th:text="${#dates.format(news.gwChangeStartTime, 'dd')}" >23</span>
                        </time>
                        <h1 th:utext="${news.gwTitle}">第十四届台湾梅苓杯木琴大赛圆满落幕</h1>
                        <p th:utext="${news.gwMem}">
                            2018年7月23日，第十四届台湾梅苓杯目前大赛在台北市艺术中心圆满落下帷幕
                        </p>
                    </div>
                    <div class="btn_div">
                        <a th:href="'/wap/details?id='+${news.id}">
                            <button>阅读全文</button>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="yema">
                <div class="upper" th:if="${not isFirstPage}">
                    <a  th:href="@{${'/wap/news'}(pageNum=${pageNum-1},pageSize=${pageSize})}">上一页</a>
                </div>
                <div class="yema_num" th:each="pageNo : ${#numbers.sequence(formPages, toPages)}">
                    <div th:if="${pageNum eq pageNo}" class="on">
                        <a  href="javascript:void(0);">
                            <span th:text="${pageNo}"></span>
                        </a>
                    </div>
                    <div th:if="${not (pageNum eq pageNo)}">
                        <a th:href="@{${'/wap/news?'}(gwType=${gwType},pageNum=${pageNo},size=${pageSize})}">
                            <span th:text="${pageNo}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <!--免费试听预约-->
        <div class="sign_div">
            <ul class="sign_from2" id="sign_from2" style="display: none">
                <li class="t">免费试听课预约</li>
                <li><input type="text" placeholder="宝贝名称"></li>
                <li><input type="text" placeholder="宝贝年龄"></li>
                <li><input type="text" placeholder="联系手机"></li>
                <li><input type="text" placeholder="微信号(选填)"></li>
                <li><button id="click_tj">提交预约</button></li>
            </ul>
            <div class="sign_from" id="sign_from">
                <span>免费<br/>试听课预约</span>

                <button id="click_yy">点击预约</button>
            </div>
        </div>
        <div class="con_inf">
            <div class="con_inf_div">
                <div class="tel">
                    <img src="/images/tel.png" alt="">
                </div>
                <div class="con_inf_other">
                    <div class="logo_div">
                        <img src="/images/logo2.png" alt="logo">
                    </div>
                    <ul class="add_ul">
                        <li>
                            <div class="add_icon">
                                <img src="/images/add.png" alt="">
                            </div>
                            <div class="add_t">
                                <p>台湾区总部</p>
                                <p>中国·台湾新北市中山一号段7号梅苓教育</p>
                            </div>
                        </li>
                        <li>
                            <div class="add_icon">
                                <img src="/images/add.png" alt="">
                            </div>
                            <div class="add_t">
                                <p>大陆区总部</p>
                                <p>中国·厦门市思明区红莲路悦享中心B塔10F</p>
                            </div>
                        </li>
                    </ul>
                    <div class="erweima"><img src="/images/erweima.png" alt="二维码"></div>
                </div>
            </div>
        </div>
        <p class="copyright">
            Holistic 玫苓全人音乐|玫苓全人音乐教学系统 版权所有 Copyrght©2016-2020
        </p>
    </footer>
    <script>
        $("#news").change(function(){
            window.location.href="/wap/news?gwType="+$(this).val();
        });
        $("#news_nav_list li").click(function() {
            var index = $("#news_nav_list li").index(this)
            console.log("点击" + index)
            $("#news_nav_list li").eq(index).addClass('on').siblings("li").removeClass('on');

        });
        $("#p_mul").click(function() {
            var tnl = $("#top_nac_ul")
            if (tnl.is(":hidden")) {
                $("#p_mul").addClass("on");
                $("#top_nac_ul").slideDown();
            } else {
                $("#p_mul").removeClass("on");
                $("#top_nac_ul").slideUp();
            }
        })
        $("#click_yy").click(function() {
            $("#sign_from2").slideDown();
            $("#sign_from").slideUp();

        })
        $("#click_tj").click(function() {
            $("#sign_from2").slideUp();
            $("#sign_from").slideDown();
        })
    </script>
</body>
</html>