<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${page.title}">关于玫苓</title>
    <meta name="keywords" th:attr="content=${page.seoKeywords}" />
    <meta name="description" th:attr="content=${page.seoDescription}" />
    <link rel="stylesheet" type="text/css" href="/css/reseet.css">
    <link rel="stylesheet" type="text/css" href="/css/pc_style.css">
    <link rel="stylesheet" type="text/css" href="/css/flexslider.css">
    <style>
        .flex-direction-nav a {
            background: url(/images/arr2.png) no-repeat;
        }
        /*首屏轮播图样式*/
        .page_top .flexslider{
            border:none;
            margin: 0;
        }
        .page_top  .flex-control-nav{
            bottom: auto;
            top: 760px;
        }
        .page_top .flex-direction-nav .flex-prev{
            left: 0;
        }
        .page_top .flex-direction-nav .flex-next{
            right: 0
        }
        .page_top .flex-viewport{
            width: 100%;
            height: 800px;
        }
        .page_top .slides{
            width: 100%;
            height: 800px;
        }
    </style>
</head>

<body>
<header class="page_top" >
    <div th:include="include :: pc_header"></div>
    <div class="page_top_lunbo flexslider" id="slider2">
        <ul class="slides">
            <li th:each="list0:${list0}" class="images" th:style="'background-image:url(' +${list0.gwImg1} + ');'">
            </li>
        </ul>
    </div>
</header>
<main>
    <!--轮播图-->
    <div class="lunbotu">
        <div class="lunbotu_ul flexslider" id="slider">
            <ul class=" slides">
                <li class="images" th:each="list1:${list1}">
                    <div class="lbt_left">
                        <img th:src="${list1.gwImg1}" alt="" />
                    </div>

                    <div class="lbt_right">
                        <h2 th:utext="${list1.gwTitle}">庆祝贵阳周年音乐会<br/>圆满落幕</h2>
                        <div class="transverse">
                            <span></span>
                        </div>
                        <p th:utext="${list1.gwContext}">
                            风靡全国的玫苓周年庆音乐会于2018年6月23日在贵阳小河区万科购物广场隆重上演，现场人头涌动，水泄不通，孩子们的表演得到了家长和商户们的一直肯定。
                        </p>
                        <div>
                            <a class="button" th:href="'/pc/details?id='+${list1.id}">阅读全文</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--平台6大核心优势-->
    <div class="main_div">
        <div class="main_div_t">
            <h1 class="title" th:text="${list2.gwTitle}">品牌6大核心优势</h1>
            <p class="subtitle">
                <span class="left"></span>
                <span  th:text="${list2.gwSubtitle}">26年倾力打造完整音乐生态链</span>
                <span class="right"></span>
            </p>
        </div>
        <div class="main_ul">
            <ul class="main_ul_1">
                <li th:each="list3:${list3}">
                    <div><img  th:src="${list3.gwImg1}" alt=""></div>
                    <h3 th:text="${list3.gwTitle}">研发</h3>
                    <p  th:text="${list3.gwSubtitle}">DEVELOPMENT</p>
                </li>

            </ul>
        </div>
    </div>
    <!--条形图片-->
    <div class="barShape">
        <span class="transverse_s"></span>
        <h2 class="">源自台湾26年，全人音乐教育品质保障</h2>
        <p>26 years of education quality guarantee</p>
    </div>
    <!--独家课程体系-->
    <div class="main_div">
        <div class="main_div_t">
            <h1 class="title" th:text="${list4.gwTitle}">独家课程体系</h1>
            <p class="subtitle" >
                <span class="left"></span>
            <span th:text="${list4.gwSubtitle}">26年倾力打造完整音乐生态链</span>
                <span class="right"></span>
            </p>
        </div>
        <div class="main_ul">
            <ul class="main_ul_2" id="course_list">
                <li th:each="list5:${list5}">
                    <a th:href="'/pc/course?listNum='+${list5.gwSort}">
                        <div class="img_div">

                                <div class="li_mask" style="display:none">
                                    <h2 class="li_mask_h2" th:text="${list5.gwTitle}">亲子音乐屋</h2>
                                    <p class="smtitle">3岁以下</p>
                                    <div class="li_mask_p" >
                                        <p th:utext="${list5.gwContext}" >
                                        </p>

                                    </div>
                                </div>

                            <img th:src="${list5.gwImg1}" alt="">
                        </div>
                        <h2 class="curr_h2"  th:text="${list5.gwSubtitle}">Family Music House</h2>
                        <p class="curr_p">
                            <span th:text="${list5.gwTitle}">
                            音乐亲子屋
                            </span> |
                            <span th:text="${list5.gwMem}">
                            3岁以下
                            </span>
                        </p>
                    </a>
                </li>


            </ul>
        </div>
    </div>
    <!--师资-->
    <div class="main_div_2">
        <div class="main_div">
            <div class="main_div_2_img">
                <img th:src="${list6.gwImg1}" alt="">
            </div>
            <div class="main_div_2_t">
                <h1>
                    <span th:text="${list6.gwTitle}">为孩子全球选优</span><br/>
                    <span class="color_fdd000" th:text="${list6.gwSubtitle}">5A级教学师资</span>
                </h1>
                <div class="div_p"  th:utext="${list6.gwContext}">>
                    <p class="">超过 <span>111114,800</span> 名中外音乐专家</p>
                    <p class="">每天超过 <span>50,000</span> 节课程<br/> 大数据帮家长找到合适孩子的教学方式
                    </p>

                    <p class="">超过 <span>14,800</span> 名中外音乐专家</p>
                    <p class="">每天超过 <span>50,000</span> 节课程<br/> 大数据帮家长找到合适孩子的教学方式
                    </p>
                </div>
                <div>
                    <a class="button" href="">
                        了解更多
                    </a>
                </div>
            </div>

        </div>

    </div>
    <!--玫苓新闻动态-->
    <div class="main_div">
        <div class="main_div_t">
            <h1 class="title"  th:text="${list7.gwTitle}">玫苓新闻动态</h1>
            <p class="subtitle">
                <span class="left"></span>
                <span th:text="${list7.gwSubtitle}">26年倾力打造完整音乐生态链</span>
                <span class="right"></span>
            </p>
        </div>
        <ul class="main_ul_3">
            <li  th:each="listNews:${listNews}">
                <a th:href="'/pc/details?id='+${listNews.id}">
                    <div class="time_div">
                       <time class="day" th:text="${#dates.format(listNews.gwChangeStartTime, 'dd')}">23</time>
                        <time th:text="${#dates.format(listNews.gwChangeStartTime, 'yyyy MM ')}">2018-07</time>
                    </div>
                    <div class="text_div">
                        <h2 th:text="${listNews.gwTitle}">第十四届台湾梅苓杯木琴大赛圆满落幕</h2>
                        <p th:text="${listNews.gwMem}">2018年7月23日，第十四届台湾梅苓杯目前大赛在台北市艺术中心圆满落幕2018年7月23日，第十四届台湾梅苓杯目前大赛在台北市艺术中心圆满落幕</p>

                    </div>
                </a>
            </li>


        </ul>
        <div class="btn_div">
            <span class="left"></span>
            <a class="button" href="/pc/news">更多新闻</a>
            <span class="right"></span>
        </div>
    </div>
    <!--服务承诺-->
    <div class="main_div_2">
        <div class="main_div">
            <ul class="main_ul_4">
                <li th:each="list8:${list8}">
                    <div class="img_div"><img th:src="${list8.gwImg1}" alt=""></div>
                    <h2 th:text="${list8.gwTitle}">免费试学承诺</h2>
                    <p th:text="${list8.gwContext}">对首次购买的课程不满意，可申请全额退款，但需在课程有效期内提出，详见《课程服务协议》。</p>
                </li>

            </ul>
        </div>
    </div>
    <!--教育愿景-->
    <div class="main_div_3">
        <div class="earth_div">
            <div class="vision_div">
                <div class="vision_l">
                    <ul>
                        <li  th:each="list10:${list10}">
                            <p class="big">
                                <span  class="counter" th:text="${list10.gwSubtitle}">37</span>+
                            </p>
                            <p th:text="${list10.gwTitle}">事业遍布国家地区</p>
                        </li>

                    </ul>
                </div>
                <div class="vision_r">
                    <h1 th:text="${list9.gwTitle}">玫苓教育愿景</h1>
                    <p class="sm_t" th:text="${list9.gwSubtitle}">透过音乐让孩子一生与美好在一起！</p>
                    <div th:utext="${list9.gwContext}">

                    </div>
                    <div class="btn_div">
                        <a href="/pc/investment">投资我们</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:include="include :: pc_footer"></div>
<script>
    /*轮播图*/
    $('#slider').flexslider({
        animation: "solid", //动画效果
        animationLoop: true, //是否循环播放
        controlNav: false, // Boolean: 是否创建控制点
        directionNav: true, // Boolean: 是否创建上/下一个按钮（previous/next）
        startAt: 0, // Integer: 开始播放的 slide，从 0 开始计数
        slideshow: false, // Boolean: 是否自动播放
        slideshowSpeed: 5000, // Integer: ms 滚动间隔时间
        animationSpeed: 600, // Integer: ms 动画滚动速度
        direction: "horizontal", // String: 滚动方向 ["horizontal"|"vertical"]
        prevText: "/images/homePageR.png",
        pauseOnAction: true, // Boolean: 用户操作时停止自动播放
        pauseOnHover: true, // Boolean: 悬停时暂停自动播放
        touch: true, // Boolean: 允许触摸屏触摸滑动滑块
        start: function(slider) { //加载完成后回调函数
            /*var w = document.body.clientWidth;
            if (w < 768) {
                $(".flex-direction-nav").css("display", "none")
            }*/
        }
    });
    $('#slider2').flexslider({
        animation: "solid", //动画效果
        animationLoop: true, //是否循环播放
        controlNav: true, // Boolean: 是否创建控制点
        directionNav: true, // Boolean: 是否创建上/下一个按钮（previous/next）
        startAt: 0, // Integer: 开始播放的 slide，从 0 开始计数
        slideshow: true, // Boolean: 是否自动播放
        slideshowSpeed: 6000, // Integer: ms 滚动间隔时间
        animationSpeed: 600, // Integer: ms 动画滚动速度
        direction: "horizontal", // String: 滚动方向 ["horizontal"|"vertical"]
        prevText: "/images/homePageR.png",
        pauseOnAction: true, // Boolean: 用户操作时停止自动播放
        pauseOnHover: true, // Boolean: 悬停时暂停自动播放
        touch: true, // Boolean: 允许触摸屏触摸滑动滑块
        start: function(slider) { //加载完成后回调函数
            /*var w = document.body.clientWidth;
            if (w < 768) {
                $(".flex-direction-nav").css("display", "none")
            }*/
        }
    });
    $('.counter').countUp();
   /* $('.counter').countUp({
        delay: 10,
        time: 1000
    });*/

    $('#course_list li').mouseover(function() {
        var index = $("#course_list li").index(this);
        $('#course_list li').eq(index).find(".li_mask").show();
        //console.log(index);
    });
    $('#course_list li').mouseout(function() {
        var index = $("#course_list li").index(this);
        $('#course_list li').eq(index).find(".li_mask").hide();
        // console.log(index);
    });
</script>
</body>
</html>
