/*******
**PC端
********/

/*首页*/

/*首页导航*/

.page_top {
    width: 100%;
    overflow: hidden;
    /*background-color: #ccc;*/
}

.top_nav_div {
    height: 4rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
}

.top_nav_logo {
    width: 40%;
    overflow: hidden;
    margin-left: 10%;
}

.top_nav_logo img {
    height: 2rem;
    width: auto;
}

.p_mul {
    width: 50%;
    margin-right: 10%;
    height: 1.2rem;
    text-align: right;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 100% center;
    background-image: url(/images/phone_navIcon.png)
}

.p_mul.on {
    background-image: url(/images/phone_navIcon_on.png);
    background-size: auto 80%;
}

.top_nac {
    overflow: hidden;
    position: fixed;
    top: 4rem;
    right: 0;
    z-index: 999;
    border-radius: 0 0 2.6rem 2.6rem;
    padding: 0 2rem 1.6rem 2rem;
    background-color: #fff;
    display: none;
}

.top_nac_ul {
    height: auto;
    width: 11rem;

}

.top_nac_ul a:first-child li {
    border-top: 1px #dcdddd solid;
}

.top_nac_ul li {
    height: 2.2rem;
    padding: 0 0.5rem;
    line-height: 2.2rem;
    text-align: center;
    border-bottom: 1px #dcdddd solid;
    display: flex;
    flex-grow: 1;
}

.top_nac_ul li p {
    font-size: 0.8rem;
    text-align: left;
    width: 50%;
    padding: 0 0.2rem;
    color: #727171;

}

.top_nac_ul li.on p {
    color: #fdd000;
    font-weight: bold;
}

/*/首页轮播图/*/

.page_top_lunbo {
    margin-top: 4rem;
    width: 100%;
    height: 20rem;
}

.page_top_lunbo li.images {
    width: 100%;
    height: 20rem;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

/*首屏 标题*/

.top_title {
    position: absolute;
    width: 100%;
    top: 7rem;
    height: 10rem;
    background-image: -moz-linear-gradient( -90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background-image: -ms-linear-gradient( -90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.top_title.promotion{
    top: 3rem;
}

.top_title h1 {
    text-align: center;
    font-size: 1.4rem;
    color: #fdd000;
    font-weight: bold;
    margin-top: 5rem;
}

.top_title p {
    font-size: 1rem;
    text-align: center;
    color: #fff;
}


/*首屏装饰条*/

.cross_bar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 10%;
}

.cross_bar span.left {
    background-image: url(/images/subtitle_l.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 150% 0.1rem;
    margin-right: 1rem;
    width: 10rem;
    height: 1rem;
    flex-shrink: 1;
}

.cross_bar span.right {
    background-image: url(/images/subtitle_r.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 150% 0.1rem;
    margin-left: 1rem;
    width: 10rem;
    height: 1rem;
    flex-shrink: 1;
}

.cross_bar span.text {
    flex-shrink: 0;
    font-size: 1.2rem;
    font-weight: 400;
}

/*轮播图*/

.lunbotu {
    padding: 1rem 0;
    height: auto;
    background-color: #fff;
    width: 100%;
}

.lunbotu .lunbotu_ul {
    width: 100%;

    border: none;
}

.lunbotu .lunbotu_ul .lbt_left {
    width: 80%;
    margin: 0 10%;

}

.lunbotu .lunbotu_ul .lbt_left img {
    width: 100%;
    height: auto;
}

.lunbotu .lunbotu_ul .lbt_right {
    width: 80%;
    text-align: center;
    margin: 0 10%;
}

.lunbotu .lunbotu_ul .lbt_right h2 {
    margin-top: 0.9rem;

    font-size: 1.3rem;
    font-weight: bold;
    color: #3e3a39;
    line-height: 2rem;
}

.transverse {
    margin: 0.3rem 0;

}

.transverse span {
    width: 2rem;
    height: 0.2rem;
    border-radius: 0.2rem;
    display: inline-block;
    background-color: #fdd000;
}

.lunbotu .lunbotu_ul .lbt_right p {
    color: #595757;
    font-size: 0.84rem;
    line-height: 1.6rem;
    text-align: left;
}

.lunbotu .lunbotu_ul .lbt_right .button {
    margin-top: 1.8rem;
    background-image: -moz-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    background-image: -webkit-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    background-image: -ms-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    width: 9rem;
    height: 2.6rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 2.6rem;
    font-weight: bold;
    color: #fff;
    border-radius: 1.5rem;
    display: inline-block;
    text-align: center;
}


/*主要内容*/

.main_div {
    width: 100%;

    padding-top: 2rem;
}

.main_div_t .title {
    color: #fdd000;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.main_div_t .subtitle {

    color: #595757;
    text-align: center;
    width: 80%;
    margin: 0.2rem 10%;
    display: inline-flex;
    align-items: center;
}

.main_div_t .subtitle span {
    background-repeat: no-repeat;
    display: inline-block;
    /*background-color: #ccc;*/
}

.main_div_t .subtitle span.text {
    flex-shrink: 0;
    font-size: 0.9rem;
}

.main_div_t .subtitle span.left {
    background-image: url(/images/subtitle_l.png);
    background-position: right;
    background-size: 150% 0.2rem;
    margin-right: 0.4rem;
    width: 10rem;
    height: 1rem;
    overflow: hidden;

}

.main_div_t .subtitle span.right {
    background-image: url(/images/subtitle_r.png);
    background-position: left;
    background-size: 150% 0.2rem;
    margin-left: 0.4rem;
    width: 10rem;
    height: 1rem;
}

/*首页六大核心 */

.main_div .main_ul {
    width: 90%;
    margin: 0 5%;
}

.main_div .main_ul_1 {
    margin: 1rem 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_div .main_ul_1 li {
    width: 33%;
    text-align: center;
    margin-top: 1rem;
}


.main_div .main_ul_1 li img {
    width: 4.2rem;
}

.main_div .main_ul_1 li h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #3e3a39;
    margin-top: 0.4rem;
}


.main_div .main_ul_1 li p {
    margin-top: 0.2rem;
    font-size: 0.6rem;
    color: #898989;
}

/*首页条形图*/

.barShape {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/images/barShape.png);
    background-size: auto 100%;
    width: 100%;
    height: 8rem;
    text-align: center;
}

.transverse_s {
    width: 2rem;
    height: 0.2rem;
    border-radius: 0.2rem;
    display: inline-block;
    background-color: #fdd000;
    margin-top: 2rem;
    ;
}

.barShape h2 {
    font-size: 0.9rem;
    color: #fff;
    margin-top: 0.8rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.barShape p {
    font-size: 0.6rem;
    color: #fff;
    margin-top: 0.9rem;
}

/*独家课程体系*/

.main_ul_2 {

    display: flex;
    width: 90%;
    margin: 1rem 5% 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_ul_2 li {
    width: 47%;
    margin-bottom: 1.4rem;
}


/*.main_ul_2 li .li_mask {
    position: absolute;
    width: 306px;
    height: 204px;
    background-image: -moz-linear-gradient( 60deg, rgb(9, 17, 57) 0%, rgb(72, 63, 135) 100%);
    background-image: -webkit-linear-gradient( 60deg, rgb(9, 17, 57) 0%, rgb(72, 63, 135) 100%);
    background-image: -ms-linear-gradient( 60deg, rgb(9, 17, 57) 0%, rgb(72, 63, 135) 100%);
    opacity: 0.949;
    padding: 40px 30px 0;
}

.main_ul_2 li .li_mask .li_mask_h2 {
    font-size: 24px;
    font-weight: bold;
    color: #fdd000;
}

.main_ul_2 li .li_mask .smtitle {
    font-size: 18px;
    color: #fdd000;
}

.main_ul_2 li .li_mask .smtitle {
    margin-bottom: 20px;
    font-size: 18px;
    color: #fdd000;
}

.main_ul_2 li .li_mask .li_mask_p {
    color: #fff;
    font-size: 16px;
}

.main_ul_2 li .li_mask p.smtitle {
    font-size: 18px;
    color: #fdd000;

}*/

.main_ul_2 li .img_div {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.main_ul_2 li .img_div img {
    width: 100%;
}

.main_ul_2 li .curr_h2 {
    text-align: center;
    font-size: 0.7rem;
    color: #fdd000;
    margin-top: .2rem;
    font-weight: bold;
}

.main_ul_2 li .curr_p {
    color: #595757;
    font-size: 0.7rem;
    text-align: center;
}

/*师资*/

.main_div_2 {
    background-color: #f7f8f8;
    width: 100%;
    padding-bottom: 1.2rem;
}

.main_div_2_img {
    width: 90%;
}

.main_div_2_img img {
    width: 100%;
}

.main_div_2_t {
    text-align: center;
}

.main_div_2_t h1 {
    font-size: 1.4rem;
    color: #3e3a39;
    line-height: 2rem;
}

.main_div_2_t h1 > span.fd0 {
    color: #fdd000;
    font-weight: bold;
}

/*.main_div_2_t p {
    font-size: 16px;
    line-height: 20px;
    color: #595757;
}

.main_div_2_t p span {
    color: #fdd000;
    font-size: 20px;
   
}*/

.mt70 {
    margin-top: 70px;
}

.mt50 {
    margin-top: 50px;
}

.mt30 {
    margin-top: 30px;
}

.main_div_2_t .button {
    margin-top: 1.4rem;
    background-image: -moz-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    background-image: -webkit-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    background-image: -ms-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    width: 9rem;
    height: 2.6rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 2.6rem;
    font-weight: bold;
    color: #fff;
    border-radius: 1.5rem;
    display: inline-block;
    text-align: center;

}

/*新闻动态*/

.main_ul_3 {
    margin: 1rem 10% 2rem;
}

.main_ul_3 li {
    width: 100%;
    margin-top: 2rem;
}

.main_ul_3 .time_div {
    margin-top: 2px;
    float: left;
    width: 3.4rem;

    height: 3.4rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-image: -moz-linear-gradient( 60deg, rgb(9, 17, 57) 0%, rgb(72, 63, 135) 100%);
    background-image: -webkit-linear-gradient( 60deg, rgb(9, 17, 57) 0%, rgb(72, 63, 135) 100%);
    background-image: -ms-linear-gradient( 60deg, rgb(9, 17, 57) 0%, rgb(72, 63, 135) 100%);
}

.main_ul_3 .time_div time {
    color: #fff;
    text-align: center;
    font-size: 0.7rem;
}

.main_ul_3 .time_div time.day {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.6rem;
    margin-top: 0.4rem;
}

.main_ul_3 .text_div {
    margin-left: 4.2rem;
}

.main_ul_3 .text_div h2 {
    font-size: 0.8rem;
    font-weight: bold;
    overflow: hidden;
    color: #595757;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_ul_3 .text_div p {
    margin-top: 0.4rem;
    ;
    font-size: 0.7rem;
    color: #898989;
    line-height: 1rem;
    height: 2rem;
    ;
    overflow: hidden;
}

.main_div .btn_div {
    display: inline-flex;
    align-items: center;
    align-content: center;
    width: 80%;
    margin: 0 10%;
    margin-bottom: 3rem;
}

.main_div .btn_div span {
    background-repeat: no-repeat;
    width: 10rem;
    height: 1rem;
}

.main_div .btn_div .left {
    background-image: url(/images/subtitle_l.png);
    background-position: right;
    background-size: 150% 0.2rem;
    margin-right: 0.8rem;
}

.main_div .btn_div .right {
    background-image: url(/images/subtitle_r.png);
    background-position: left;
    background-size: 150% 0.2rem;
    margin-left: 0.8rem;
}

.main_div .btn_div a.button,
.vision_r .btn_div a {
    background-image: -moz-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    background-image: -webkit-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    background-image: -ms-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    width: 9rem;
    height: 2.6rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 2.6rem;
    font-weight: bold;
    color: #fff;
    border-radius: 1.5rem;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
}

/*服务承诺*/

.main_div_4 {
    width: 100%;
    margin: auto;
    padding: 1rem 0 3rem;
}

.main_ul_4 {
    background-color: #f7f8f8;
}

.main_ul_4 .img_div {
    text-align: center;
    height: 7rem;
}

.main_ul_4 li {
    margin-top: 2rem;

}

.main_ul_4 li .img_div {
    text-align: center;
}

.main_ul_4 li .img_div img {
    display: inline-block;
}

.main_ul_4 li h2 {
    text-align: center;
    font-size: 1.4rem;
    color: #3e3a39;
}

.main_ul_4 li p {
    margin: 1rem 20% 2rem;
    color: #727171;
    font-size: .8rem
}

/*教育愿景*/

.main_div_3 {
    background-image: url(/images/phone_visionBImg.png);
    background-position: 50% 0%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 3.6rem;
}

.earth_div {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 15px 0px rgba(4, 0, 0, 0.1);
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    background-image: url(/images/earth.png);
    background-repeat: no-repeat;
    background-position: 0 1rem;
    background-size: 100%;
}

.vision_div {
    width: 100%;
    margin: auto;
}

.vision_l {}

.vision_l ul {
    width: 16rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-shrink: 0;
    margin: 0 0 0 1rem;
    padding-top: 2rem;
}

.vision_l ul li {
    width: 7rem;
    margin-top: 1rem;
}

.vision_l ul li:nth-child(odd) {
    border-right: 1px solid #898989;
}

.vision_l ul li:nth-child(even) {
    margin-left: 1rem;
}

.vision_l ul li .big {
    font-size: 2rem;
    font-weight: bold;
    color: #fdd000;
    line-height: 2rem;
}

.vision_l ul li p:nth-child(2) {
    margin-top: 0.5rem;
}

.vision_r {
    margin: 2rem 1rem;
}

.vision_r h1 {
    font-size: 1.6rem;
    color: #fdd000;
    font-weight: bold;
}

.vision_r .sm_t {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.vision_r p {
    color: #595757;
    font-size: .8rem;
    line-height: 1.2rem;
    margin-top: 1rem;
}

.vision_r p.mt70 {}

.vision_r .btn_div a {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*试听*/

.sign_div {
    background-image: -moz-linear-gradient( 60deg, rgb(9, 17, 57) 0%, rgb(72, 63, 135) 100%);
    background-image: -webkit-linear-gradient( 60deg, rgb(9, 17, 57) 0%, rgb(72, 63, 135) 100%);
    background-image: -ms-linear-gradient( 60deg, rgb(9, 17, 57) 0%, rgb(72, 63, 135) 100%);
    width: 100%;
    padding: 0.5rem 0;

}

.sign_from {
    width: 70%;
    margin: 0 15%;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.sign_from > span {
    font-size: 1rem;
    color: #fff100;
    line-height: 1rem;
    font-weight: bold;
}


.sign_from > button,
.sign_from2 button {
    background-image: -moz-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    background-image: -webkit-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    background-image: -ms-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    width: 8rem;
    height: 2.6rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 2.6rem;
    font-weight: bold;
    color: #fff;
    border-radius: 1.5rem;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
}


.sign_from2 {
    width: 70%;
    margin: auto;
    padding: 1.1rem 0 0;
}

.sign_from2 li {
    margin-bottom: 1rem;
}

.sign_from2 li:last-child {
    margin-bottom: 0rem;
    text-align: right;
}

.sign_from2 .t {
    color: #fff100;
    font-size: 1.4rem;
    font-weight: bold;

}

.sign_from2 input {
    width: 95%;
    height: 2.6rem;
    border-radius: 1.5rem;
    padding: 0 0 0 5%;
    font-size: 1rem;
    border: none;
}

/*联系信息*/

.con_inf {
    background-color: #3e3a39;
}

.con_inf_div {
    width: 80%;
    margin: 0 10%;
    padding-top: 1.2rem;
}
.con_inf_div .phone-warning{
    text-align: center;
    font-size: 1.2rem;
    color: #2f2725;
    padding-bottom: 1.2rem;
}
.con_inf_div .tel {
    text-align: center;
    margin-bottom: 10px;
}

.con_inf_div .tel img {
    width: 100%
}

.con_inf_other {
    width: 100%;
}

.con_inf_other .logo_div {
    text-align: center;
    width: 100%;
}

.con_inf_other .logo_div img {
    margin-top: 1rem;
    width: 60%;
}

.con_inf_other .add_ul {
    width: 100%;

}

.con_inf_other .add_ul .add_icon {
    float: left;
}

.con_inf_other .add_ul li:nth-child(1) {
    margin-top: 2rem;
}

.con_inf_other .add_ul li:nth-child(2) {
    margin-top: 1.2rem;
}

.con_inf_other .add_ul .add_t {
    color: #dcdddd;
    margin-left: 2.6rem;
    font-size: 1.3rem;
}

.con_inf_other .add_ul .add_t p:nth-child(1) {
    color: #fdd000;
    font-weight: bold;
}

.con_inf_other .erweima {

    text-align: center;
    height: 140px;
    margin-top: 2rem;
}

/*版权*/

.copyright {
    background-color: #2f2725;
    height: 3rem;
    line-height: 3rem;
    font-size: .4rem;
    overflow: hidden;
    color: #fff;
    text-align: center;
}


/*新闻*/

.newspage_top {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    width: 100%;
    margin-top: 4rem;
    height: 12rem;
}

.newspage_top.promotion{
    margin-top: 0;
}
.news_main {
    width: 100%;
    margin: auto;
}

.news_nav {
    display: flex;
    width: 80%;
    margin: 0 10%;
    height: 4rem;
    align-items: center;
    margin-top: 1.6rem;
}

.news_nav p {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fdd000;
}

.news_nav select {
    width: 10rem;
    font-size: 1.2rem;
    height: 2.6rem;
    margin-left: 1rem;
    color: #9fa0a0;
    border: #c9caca 1px solid;
    border-radius: 1.5rem;
    padding: 0 1rem;

}

.news_nav option {
    color: #9fa0a0;
}

/*新闻列表*/

.news_art {
    margin-top: 1rem;
    ;
    width: 100%;

}

.news_art ul {

    width: 100%;
}

.news_art ul li:nth-child(1) {
    border-top: 1px solid #c9caca;
}

.news_art ul li {
    width: 80%;
    margin: 0 10%;
    padding: 1rem 0;
    border-bottom: 1px solid #c9caca;
}

.news_art ul .img_div {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.news_art ul .img_div img {
    width: 100%;
}

.news_art ul .art_mask p {
    font-size: 0.8rem;
    text-align: center;
    color: #fdd000;
    font-weight: bold;
    margin-top: 14px;
    letter-spacing: 4px;

}

.news_art ul .test_div {
    cursor: pointer;
}

.news_art ul .test_div time {
    color: #fdd000;
}

.news_art ul .test_div time span.big {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.news_art ul .test_div h1 {
    color: #595757;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.news_art ul .test_div p {
    color: #898989;
    font-size: .8rem;
    line-height: 1.2rem;
    margin: 0.8rem 0 1rem;
    height: 2.4rem;
    overflow: hidden;
}

.news_art ul .btn_div button {
    background-image: -moz-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    background-image: -webkit-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    background-image: -ms-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    width: 8rem;
    height: 2.6rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 2.6rem;
    font-weight: bold;
    color: #fff;
    border-radius: 1.5rem;
    display: inline-block;
    text-align: center;
}

/*页码*/

.yema {
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 100%;
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.yema .upper,
.yema .next {
    width: 4rem;
    height: 2rem;
    font-size: 1rem;
    background-color: #c9caca;
    color: #727171;
    text-align: center;
    line-height: 30px;
    float: left;
}

.yema .next {
    margin-left: 0.5rem;
}

.yema .yema_num > div {
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    background-color: #c9caca;
    color: #727171;
    float: left;
    margin-left: 0.5rem;
}

.yema .yema_num > div.on {
    background-color: #1c2857;

}
.yema .yema_num > div.on  a{
    color: #fff;
}
.yema .yema_num > div.elli {
    background-color: #fff;
}

/*课程体系*/

/****导航*****/

.courses_nav {
    width: 100%;
    margin: auto;
}

.courses_nav ul {

    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses_nav ul li {

    width: 30%;
    margin: 1rem 0;
    height: auto;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% auto;
}

.courses_nav ul li a {
    display: block;
}

.courses_nav ul li.on .nav_img img {
    visibility: visible;
}

.courses_nav ul li a:hover img {
    visibility: visible;
}

.courses_nav ul li img {
    visibility: hidden;
    width: 100%;
}

.courses_nav ul li:nth-child(1) img {
    width: 90%;
    margin-top: 0.4rem
}

.courses_nav ul li:nth-child(2) img {
    width: 90%;
    margin-top: 0.4rem
}

.courses_nav ul li:nth-child(3) img {
    width: 90%;
    margin-top: 0.4rem
}

.courses_nav ul li:nth-child(4) img {}

.courses_nav ul li:nth-child(5) img {}

.courses_nav ul li:nth-child(6) img {}

/****介绍内容*****/

.courses_div {
    width: 80%;
    margin: auto;
}

.courses_ul {}

.courses_ul .left_div {
    border-radius: .5rem;
    overflow: hidden;
    margin-top: 1rem;
    height: 10rem;
}

.courses_ul .left_div img {
    width: 100%;
}

.courses_ul .right_div {}

.courses_ul .right_div .title {
}

.courses_ul .tit_h {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.courses_ul .tit_h h1 {
    font-size: 1.6rem;
    color: #3e3a39;
}

.courses_ul .tit_h p {
    font-size: 1rem;
    font-weight: bold;
    color: #fdd000;
}

.courses_ul .right_div .tit_img {
    width: 100%;
    margin: 1rem 0 0;
    text-align: center;
}

.courses_ul .right_div .tit_img img {
    width: 70%;
}

.courses_ul .right_div .title .wd {
    float: right;
    margin-top: 20px;
}

.courses_ul .right_div .details {
    margin-top: 1rem;
    text-indent: 2rem;
    color: #595757;
    line-height: 1.2rem;
    font-size: .8rem;
}

.right_div .wd {
    text-align: center;
    margin: 1rem 0;
}

.right_div .wd img {
    width: 50%;
}

.right_div .wd_deta li {
    margin-top: 1rem;
    ;
}

.right_div .wd_deta .wd_img {
    float: left;
    margin-top: .5rem;
    width: 4rem;
}

.right_div .wd_deta .wd_img img {
    width: 86%;
}

.right_div .wd_deta .wd_txt {
    margin-left: 5rem;
}

.right_div .wd_deta .wd_txt h2 {
    font-size: 1.2rem;
    color: #3e3a39;
    font-weight: bold;
}

.wd_deta .wd_txt h2 .big {
    font-size: 2rem;
    line-height: 2rem;
}

.wd_deta .wd_txt h2 .gray {
    color: #898989;
}

.wd_deta .wd_txt h2 .red {
    color: #c92740;
}

.wd_deta .wd_txt h2 .ye {
    color: #fdd000;
}

.wd_deta .wd_txt h2 .blue {
    color: #1f2c5c;
}

.wd_deta .wd_txt p {
    color: #595757;
    font-size: 0.8rem;
    ;
}

.courses_div .courses_md1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 20px;
}

.courses_div .courses_md1 img {
    width: 100%;
}

/******各种乐器介绍*****/

.courses_musical {
    width: 100%;
    margin: auto;
}

.musical_ul {
    height: auto;
    width: 100%;
}

.musical_ul li {
    width: 100%;
    /*margin: 0 10%;*/
}

.musical_ul .musical_text {
    width: 80%;
    margin: 0 10%;
    background-color: #f7f8f8;
    padding-bottom: 1rem;
    overflow: hidden;
    /*padding: 40px 0 0 100px;*/
}

.musical_ul .musical_text h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 1rem;
    line-height: 32px;
    color: #fdd000;
}

.musical_ul .musical_text p {

    color: #595757;
    font-size: .8rem;
    margin: 1rem;
    text-indent: 1.6rem;

}

.musical_ul .musical_text p.subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 0 1rem;
    text-indent: 0;
    line-height: 1.5rem;
    color: #fdd000;
}

.musical_ul .musical_text .musical_intersperse {
    height: 1rem;
    width: 1.2rem;
    margin-left: 1rem;
    border-bottom: solid 2px #434343;
}



.musical_ul .musical_img {
    width: 80%;
    margin: 0 10%;
}

.musical_ul .musical_img img {
    width: 100%;
}

/******核心优势******/

.advan_list {
    width: 100%;
    /* margin-bottom: 1rem;*/
}

.advan_list li {
    width: 100%;
    margin: auto;
}

.advan_list li:nth-child(odd) {
    background-color: #fff;
}

.advan_list li:nth-child(even) {
    background-color: #f7f8f8;
}

.advan_list li .li_div {
    width: 80%;
    margin: auto;
    padding: 2rem 0 1rem;
}

.advan_list .advan_img {

    width: 60%;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
}

.advan_list .advan_img img {
    width: 100%;
}

.advan_list li:nth-child(odd) .advan_img {}

.advan_list li:nth-child(even) .advan_img {
    margin-left: 40%;

}

.advan_list .advan_test {
    margin: 1rem 0 2rem;
}

.advan_list li:nth-child(1) {
    margin-top: 1rem;
    ;
}

.advan_list li:last-child {
    /*margin-bottom: 3rem;;*/
}

.advan_list li:nth-child(odd) .advan_icon {
    margin-right: 1rem;
}

.advan_list li:nth-child(even) .advan_icon {
    margin-left: 40%;
    margin-right: 1rem;
}

.advan_list .advan_test .advan_icon {
    float: left;
}

.advan_list .advan_test .advan_icon img {
    width: 4rem;
}


.advan_list .advan_test .advan_t h1 {
    font-size: 2rem;
    margin: .5rem 0;
    line-height: 2rem;
}

.advan_list .advan_test .advan_t p {
    font-size: .8rem;
    text-transform: uppercase;
    color: #c9caca;
}

.advan_list .advan_test .advan_d {
    margin-top: 2rem;

    color: #595757;
    text-indent: 1.6rem;
}
.advan_list .advan_test .advan_d p{
    font-size: .9rem;
    margin-top: 1rem;
}
.advan_list .advan_test .advan_d span {
    color: #fdd000;
    font-weight: bold;
}

/****关于我们*******/

.educational_vision {
    width: 100%;
    height: auto;
    margin: auto;

}

.about_us_title h1 {
    color: #fdd000;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2rem;
}

.about_us_title p.subtitle {
    font-size: .8rem;
    ;
    color: #595757;
    text-align: center;

}

.vision_transverse {
    text-align: center;
    line-height: 1rem;
    height: 20px;
    margin: .5rem 0 1rem 0;
}

span.vision_tran_s {
    width: 2rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    display: inline-block;
    background-color: #fdd000;
}

.educational_vision .text p {
    color: #595757;
    font-size: 0.8rem;
    text-indent: 36px;
    margin: 1rem 10% 0;
}

.educational_vision .img_div {
    width: 80%;
    margin: 0 10%;
    margin-top: 1rem;
}

.educational_vision .img_div img {
    width: 100%;
    display: block;
}

/*品牌简介*/

.brand_introduction {
    width: 100%;
    margin: auto;
}

.brand_introduction .one {

    width: 100%;
    overflow: hidden;
}

.brand_introduction .left_div {
    width: 80%;
    margin: 0 10%;
}

.brand_introduction .left_div img {
    width: 100%
}

.brand_introduction .one .title_div {}


.brand_introduction .one .title_div h1 {

    margin-right: 60px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fdd000;
    margin-top: 20px;

}

.brand_introduction .subtitle {
    font-size: .8rem;
    color: #595757;

}

.brand_introduction .one .text_div {
    margin: 1.6rem 0;
    text-indent: 1.6rem;
    color: #595757;

    font-size: .8rem;
}

.brand_introduction .two img {
    display: block;
}

.brand_introduction .two .text_div {

    width: 70%;
    background-color: #151e49;
    margin: 0 10%;
    position: relative;
    padding: 3rem 5% 1rem;
}

.brand_introduction .two .text_div span {
    background-image: url(/images/about_us_home_icon.png);
    width: 52px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: -1rem;
    left: 1rem;
}

.brand_introduction .two .text_div p {
    color: #fff;
    font-size: .8rem;
    text-indent: 36px;
}

/*品牌历程*/

.brand_history_list {
    width: 100%;
    margin: auto;
}

.brand_history_otm {
    text-align: right;
    font-size: 27px;
    font-weight: bold;
    color: #fdd000;
    margin-bottom: 40px;
    margin-top: 20px;
}

.brand_history_list .img_div {
    width: 80%;
    margin: 0 10%;
}

.brand_history_list .img_div img {
    width: 100%;
}

.brand_history_list .text_div {
    height: auto;
    width: 70%;
    margin: 0 10%;
    padding: 0 5% 1rem;
    background-color: #f7f8f8;
    position: relative;
}

.brand_history_list .text_div .time_div {
    position: absolute;
    right: 0;
    top: -3rem;
    background-image: url(/images/Brand_History_icon_on.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4.5rem;
    height: 3.2rem;
    padding-top: 3.5rem;
    padding-left: .5rem;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
}

.brand_history_list .text_div h2 {

    font-size: 1.4rem;
    line-height: 30px;
    padding-top: 1rem;
    font-weight: bold;
    color: #fdd000;
}

.brand_history_list .history_line {
    height: 2rem;

}

.brand_history_list .history_line span {
    height: 2px;
    width: 20px;
    background-color: #434343;
    display: inline-block;
    margin-top: 1rem
}


.brand_history_list .text_div p {
    margin-top: 1rem;
    font-size: .8rem;
    text-indent: 1.6rem;
}

.team_div {
    width: 100%;
    background-image: url(/images/Chalo_Eduardo2_b.png);
    background-position: 0 20rem;
    ;
    background-repeat: repeat-x;

}

.team_div .chalo_div {
    width: 80%;
    height: 25rem;
    margin: 0 10%;
    background-image: url(/images/phone_Chalo_Eduardo2.png);
    background-size: 100% auto;
    background-position: 0 bottom;
    background-repeat: no-repeat;
}

.team_div .chalo_div h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fdd000;
    text-align: center
}

.team_div .chalo_div .subtitle {
    font-size: .8rem;
    color: #595757;
    text-align: center
}


.team_div .chalo_div .line_div {
    height: 44px;
    text-align: center;
}

.team_div .chalo_div .line_div span {
    height: .2rem;
    width: 2rem;
    border-radius: .1rem;
    background-color: #fdd000;
    display: inline-block;
    margin-top: 1rem;
}

.team_div .chalo_div h3 {

    font-size: .8rem;
    font-weight: bold;
    color: #fdd000;
    padding: 3.4rem 0 0 50%;
}

.team_div .chalo_div p.designation {
    font-size: .8rem;
    color: #595757;
    padding: 0 0 0 50%;

}

.team_div .chalo_div p.eng {
    font-size: .8rem;
    color: #595757;
    font-weight: bold;
    padding: 0 0 0 50%;
}

.team_div .team_list_div {
    background-color: #f7f8f8;

}

.team_div .team_list {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team_div .team_list li {
    margin-top: 2rem;
    width: 46%;
    text-align: center;
}

.team_div .team_list li .img_div {
    width: 80%;
    margin: 0 10%
}

.team_div .team_list li .img_div img {
    width: 100%;
}

.team_div .team_list li .designation {
    margin-top: .8rem;
    font-size: 18px;
    color: #fdd000;
    font-weight: bold;
}

.team_div .team_list li .name {
    font-size: 1rem;
    color: #fdd000;
    font-weight: bold;
}

.team_div .team_list li .line_div {
    height: 30px;
}

.team_div .team_list li .line_div span {
    width: 20px;
    height: 2px;
    background-color: #434343;
    margin-top: 20px;
    display: inline-block;
}

.team_div .team_list li .text_div {
    color: #595757;
    font-size: .6rem;
    line-height: 1rem;

}

.brand_hono {
    background-image: url(/images/Brand_Honor_bg.png);
    background-repeat: no-repeat;
    background-position: 30% 0%;
    background-size:  200% auto;
    width: 80%;
    padding: 0 10%;
}

.brand_hono_img {
    text-align: center;
    margin-bottom: 2rem;

}

.brand_hono_img img {
    width: 100%;
}

.brand_hono_list {
    width: 100%;
    margin: 2rem 0;
}

.brand_hono_list ul {
    width: 100%;
    text-align: center;
}

.brand_hono_list li {
    line-height: 1.6rem;
    font-size: .8rem;
    color: #d3ac6f;

}

/*台湾梅苓*/

.line20 {
    width: 100%;
    height: 20px;
    background-color: #69b4a4;
}

.meniling_intro {
    width: 100%;
    margin: auto;

}

.meniling_intro .img_div {
    text-align: center;
    margin-top: 2rem;
}

.meniling_intro .img_div img {
    width: 50%;
}

.meniling_intro .text_div {
    width: 80%;
    margin: 1rem 10%;
}

.meniling_intro .text_div p {
    margin-top: 1rem;
    text-indent: 1.6rem;
    font-size: 0.8rem;
    color: #595757;
}

.meniling_w {
    width: 100%;
    margin: auto;
    text-align: center;
}

.meniling_w img {
    width: 80%;
}

.meiling_competition {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.competition_one .com_icon {
    text-align: center;
}

.competition_one .com_icon img {
    width: 70%
}

.competition_one .text_div {
    width: 80%;
    margin: 0 10%;

}

.competition_one {
    background-color: #f7f8f8;
    padding: 2rem 0 2rem 0;
}

.competition_one .text_div p {
    color: #727171;
    font-size: .8rem;

}

.competition_one .text_div p.one {
    margin-top: 3rem;
    text-indent: 1.6rem;
}

.competition_one .text_div p.two {
    margin-top: 2rem;
}

.competition_one .img_div {
    background-color: #f7f8f8;
    width: 70%;
    margin: 0 15%;
    overflow: hidden;
}

.competition_one .img_div li {
    text-align: center;
    background-color: #f7f8f8;
    border-radius: 1.5rem;
    overflow: hidden;
}

.competition_one .img_div li img {
    width: 100%;
}

.w1000 {
    width: 100%;
    margin: auto;
}

.competition_two {
    margin-top: 2rem;
}

.competition_two .com_icon {
    text-align: center;
}

.competition_two .com_icon img {
    width: 70%
}

.competition_two .img_div {
    overflow: hidden;
    width: 70%;
    margin: 2rem 15%;
}

.competition_two .img_div li {
    text-align: center;
    background-color: #f7f8f8;
    border-radius: 1.5rem;
    overflow: hidden;
}

.competition_two .img_div li img {
    width: 100%;
}

.competition_two .text_div {
    width: 80%;
    margin: 0 10%;
}

.competition_two .text_div p {
    color: #727171;
    font-size: .8rem;
    ;
    margin-top: 1rem;
    ;
    text-indent: 1.6rem;
}

.expents_talks {
    background-color: #b4d9d1;
    margin-top: 8rem;
    position: relative;
}

.expents_talks_icon {
    width: 80%;
    position: absolute;
    top: -2rem;
}

.expents_talks_icon img {
    width: 100%;
}

.expents_talks_div {
    width: 80%;
    padding: 0 10%;
}

.expents_talks_div h1 {
    font-size: 1.4rem;
    ;
    color: #fff;
    padding-top: 2rem;
    font-weight: bold;
}

.expents_talks_div .subtitle {
    color: #595757;
    font-size: .8rem;
    margin-top: .2rem;
}

.talks_list li {

    width: 100%;
    padding-bottom: 3rem;
}

.talks_list li:nth-child(1) {}

.talks_list li:last-child {}

.talks_list .text {



    position: relative;
}

.talks_list li .img {
    text-align: center;
    margin: 1rem 0;
}

.talks_list li .img img {
    width: 40%;
}

.talks_list li .text {}

.talks_list li .tall {

    color: #595757;
    font-size: .8rem;
    text-indent: 1.6rem;
}

.talks_list li .tall p {
    margin-top: 1rem;
}



.talks_list li .name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    text-align: right
}

.talks_list li .t_name {
    color: #4f4f4f;
    font-size: 1remn;
    text-align: right
}


/*投资合作*/

.ine_div1 {
    width: 1000px;
    margin: auto;
    margin-top: 100px;

}

.ine_div1 p {
    margin-top: 36px;
    font-size: 16px;
    color: #595757;
    text-indent: 32px;
}

.ine_div2 {
    background-image: url(/images/investment_img1.png);
    background-position: 40% bottom;
    height: 13rem;
    background-size: 200% auto;
    background-repeat: no-repeat;
}

.ine_div2 div.text {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    padding-top: 7rem;
    padding-left: 6rem;
    font-weight: bold;
}

.ine_div2 div.text span {
    color: #ff0000;
}

.ine_div3 {
    width: 100%;
    margin: 2rem auto;
}

.ine_div3 .img {
    margin: 0 10%;
    text-align: center;
}

.ine_div3 .img img {
    width: 60%;
}

.ine_div3 .text {}

.ine_div3 .text h2 {
    color: #595757;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    margin: 1rem 10%;
}

.ine_div3 .text h2 span {
    font-size: 1.6rem;
    color: #fdd000;
}

.ine_div3 .text p {
    margin: 1rem 10%;
    font-size: .8rem;
    ;
    color: #595757;
    text-indent: 32px;
}

.ine_div3 .text p span {
    font-weight: bold;
    color: #fdd000;
}

.ine_div4 {
    background-image: url(/images/investment_bgimg1.png);
    background-position: center center;
    height: 10rem;
    width: 100%;
    overflow: hidden;
}

.ine_div4 p {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 1.6rem;
    padding: 1.9rem 0;
    letter-spacing: 2px;
}

.ine_div4 p span {
    color: #fdd000;
}

.title_h1 {
    text-align: center;
}

.title_h1 h1 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fdd000;
    line-height: 36px;
}

.title_h1 p {
    font-size: 1rem;
    ;
    color: #595757;
    line-height: 20px;
    margin-top: .2rem;
}

.title_h1 div {
    margin-top: 1rem;
    height: 4px;
    line-height: 4px;
    text-align: center;
}

.title_h1 div span {
    width: 2rem;
    height: .2rem;
    background-color: #fdd000;
    display: inline-block
}

.our_services {
    margin-top: 1rem;
    ;
}

.our_services_div1 {
    width: 100%;
    margin: auto;
    margin-top: 2rem;

}

.our_services_list1 {
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}

.our_services_list1 li {

    width: 28%;
    text-align: center;
}

.our_services_list1 li .img {
    height: auto;
    width: 100%;
    text-align: center;
}

.our_services_list1 li .img img {
    width: 90%
}


.our_services_list1 li:nth-child(2) .img {
    padding-top: 5px;
}

.our_services_list1 li p {
    font-size: .8rem;
    color: #595757;
    margin-top: 1rem;
}

.our_services_list1 li p span {
    font-size: .8rem;
    font-weight: bold;
    color: #fdd000;
}

.our_services_div2 {
    margin-top: 100px;
}

.our_services_list2_div {
    width: 1000px;
    margin: auto;
    margin-top: 50px;

}

.our_services_list2 {
    width: 1000px;
    margin-top: 110px;
    margin: auto;
}

.our_services_list2 > li {
    margin-top: 24px;
}


.our_services_list2 > li .cont {
    position: relative;
    background-color: #eeeeef;
    height: 140px;
    border-radius: 70px;
    margin-left: 80px;
}


.our_services_list2 > li .icon_div {
    height: 140px;
    width: 140px;
    background-color: #fcd12b;
    border-radius: 70px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -80px;
}

.our_services_list2 > li:nth-child(even) .icon_div {
    background-color: #001c3c;
}

.our_services_list2 > li:nth-child(1) .icon_div {
    background-image: url(/images/investment_iconA.png);
}

.our_services_list2 > li:nth-child(2) .icon_div {
    background-image: url(/images/investment_iconB.png);
}

.our_services_list2 > li:nth-child(3) .icon_div {
    background-image: url(/images/investment_iconC.png);
}

.our_services_list2 > li .cont .text {
    margin-left: 120px;
}

.our_services_list2 > li .cont h2 {
    font-size: 24px;
    font-weight: bold;
    color: #595757;
    text-transform: uppercase;
    padding-top: 24px;
    line-height: 24px;
}

.our_services_list2 > li .cont ul {
    color: #595757;
    font-size: 16px;
    margin-top: 30px;
}

.our_services_list2 > li .cont ul li {
    float: left;
    width: 33%;
}

.our_services_list2 > li .cont p {
    color: #595757;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 70px;
}

.our_services_div3 {
    margin-top: 80px;
    background-image: url(/images/our_services_div3.png);
    background-size: auto 100%;
}

.our_services_div3 h2 {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 1rem;
}

.our_services_div3 h2 span {
    font-size: 1.4rem;
    ;
    color: #fdd000;
}

.our_services_div3 .text_p {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
}

/*
.our_services_div3 .text_p p {
    font-size: 16px;
    color: #595757;
    text-indent: 32px;
}

.our_services_div3 .text_p p span {
    color: #fdd000;
    font-weight: bold;
}
*/

.our_services_div3 .list_div {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
}

.our_services_div3 .list_div ul {
    margin: 0 10%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.our_services_div3 .list_div li {

    width: 30%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.our_services_div3 .list_div li div {
    width: 2rem;
    height: 2rem;
    background-color: #fdd000;
    color: #3e3a39;
    border-radius: 1rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: bold;

}

.our_services_div3 .list_div li h3 {
    color: #fff;
    font-size: .8rem;
    font-weight: bold;
    margin-top: .5rem;
}

.ine_div5 {}

.ine_div5 .img_div {
    width: 80%;
    margin: 0 10%;
}


.ine_div5 .img_div img {
    width: 100%;
}

.ine_div5 .team_div {
    background-position: 0 15rem;
}

.ine_div5 .team_div .chalo_div {
    height: 20rem;

}

.ine_div5 .team_div .chalo_div h3 {
    padding-top: 29%;
}
.ine_div5 .team_div .team_list{
    padding: 1rem 0;
}
.ine_div5 .team_div .team_list li {
    width: 25%;
    margin-top: 1rem;
}

.ine_div5 .team_div .team_list li h3 {
    font-size: .6rem;
}

.ine_div5 .team_div {}

.ine_div5 .team_div {}

.ine_div5 .team_div {}

.ine_div5 .team_div {}

.ine_div5 .team_div {}

.our_advantages {
    margin-top: 60px;
}

.our_adv_img {
    width: 100%;
    text-align: center;
}

.our_adv_img img {
    width: 60%
}

.our_adv_div1 {
    width: 100%;
    margin: 1rem auto 2rem auto;

}

.our_adv_div1 .text {

    width: 80%;
    margin: 0 10%
}

.our_adv_h2 {
    font-size: 1rem;
}

.our_adv_h2 .num {
    height: 2rem;
    font-size: 2rem;
    color: #1f2c5c;
    font-weight: bold;
    line-height: 2rem;
    float: left;
    padding-right: .5rem;
    border-right: 10px solid #fdd000;
}

.our_adv_h2 .t {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    margin-left: 4rem;
    color: #595757;
}

.our_adv_div1 .text > p {
    color: #595757;
    font-size: .8rem;
    margin-top: 1rem;
    ;
    text-indent: 32px;
}

.our_adv_div1 .text > p:nth-child(2) {
    margin-top: 2rem;
}

.our_adv_div1 .img {
    margin-left: 750px;
}

.our_adv_div2 {
    background-color: #f7f8f8;
    padding: 2rem 0;
}

.our_adv_div2_div {
    width: 80%;
    margin: 0 10%;
}

.our_adv_div2_div .text {}

.our_adv_div2_div .text_img {
    margin-left: 502px;
}

.our_adv_div2_div .text_img img {
    margin-top: 40px;
}

.our_adv_div2_div .table {
    width: 100%;
    height: 200px;
    margin-top: 1rem;
    border: 1px solid #ccc;
}

.our_adv_div2_div .table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.our_adv_div2_div .table th.t {
    background-color: #1a2654;
    color: #ffe100;
}

.our_adv_div2_div .table th {
    background-color: #ffe100;
    color: #111;
}

.our_adv_div2_div .table td {
    text-align: center;
}

.our_adv_div2 .img {
    width: 80%;
    margin: 1rem 10% 0;
    ;
}

.our_adv_div2 .img img {
    width: 100%;
}

.our_adv_div3 {
    background-color: #fdd000;
    background-image: url(/images/phone_investment_bgimg3.png);
    background-position: center 90%;
    text-align: center;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: 90% auto;
}

.our_adv_div3 h3 {
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.2rem;
}

.our_adv_div3 h3 span.span {
    color: #1f2c5c;
    font-size: 2rem;
    line-height: 2.2rem;
}

.our_adv_div4 {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}

.our_adv_div4_t {
    width: 100%;
}

.our_adv_div4_t .t {
    font-size: .8rem;
    text-align: left;
}

.our_adv_div4_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.our_adv_div4_list li {
    width: 30%;
    margin-top: 2rem;
}



.our_adv_div4_list li img {
    width: 70%;
}

.our_adv_div4_list h3 {
    font-size: .8rem;
    ;
    font-weight: bold;
    color: #3e3a39;
    margin-top: 6px;
}

.our_adv_div4_list p {
    font-size: .6rem;
    color: #898989;
    margin-top: 0px;
}

.our_adv_div5 {
    background-color: #f7f8f8;
    padding: 60px 0 50px 0;
}

.our_adv_div5_div {
    width: 80%;
    margin: 0 10%;
}

.our_adv_div5_div .text {}

.our_adv_div5_div .text p {
    margin-top: 1rem;
    color: #595757;
    font-size: .8rem;
    line-height: 1.3rem;
}

.our_adv_div5_div .text p span {
    font-size: 1.2rem;
    color: #fdd000;
    font-weight: bold;
}

.our_adv_div5_div .img {
    margin-top: 1rem;
}

.our_adv_div5_div .img img {
    width: 100%
}

.investment_img6 {
    margin-top: 1rem;
}

.investment_img6 img {
    width: 100%;

}


.ine_div7 {

    padding: 1.5rem 10% 2rem;
}

.ine_div7_div {
    width: 100%;
    margin: auto;
}

.ine_div7_div2 .cont {

    margin-top: 1.5rem
}


.ine_div7_div2 .cont h1 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fdd000;

}

.ine_div7_div2 .cont p.subtitle {
    font-size: .8rem;
    color: #595757;

}

.ine_div7_div2 .cont .line {
    margin: .8rem 0;
}

.ine_div7_div2 .cont .line span {
    width: 2rem;
    height: .2rem;
    border-radius: .1rem;
    display: inline-block;
    background-color: #fdd000;
}

.ine_div7_div2 .cont p {
    font-size: .8rem;
    color: #595757;
}

.ine_div7_div2 .cont ul {
    font-size: 16px;
    color: #595757;
    line-height: 32px;
}


.ine_div7_div2 .cont ul input {
    width: 13rem;
    height: 2.6rem;
    font-size: .9rem;
    background-color: #fff;
    border: #c9caca 1px solid;
    border-radius: 1.3rem;
    margin-top: 1rem;
    padding-left: 20px;
}

.ine_div7_div2 .cont ul button {
    margin-top: 1rem;
    background-image: -moz-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    background-image: -webkit-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    background-image: -ms-linear-gradient( -34deg, rgb(250, 190, 0) 0%, rgb(255, 241, 0) 100%);
    width: 8rem;
    height: 2.6rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 2.6rem;
    font-weight: bold;
    color: #fff;
    border-radius: 1.5rem;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
}

/*文章详情*/
main.article_details{
    width: 100%;
    margin: auto;
}
.article_title{
    margin: 3rem 10% 0;
}
.article_title h1{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #111111;
}
.article_title .subtitle{
    margin-top: .8rem;
    font-size: .8rem;
    text-align: center;
    color: #595757;
}
.article_other{
    border-bottom: 1px #c9caca solid;
    line-height: 30px;
    font-size: .6rem;
    color: #595757;
    padding: 1rem 0; 
    text-align: center;
}



.article_other  .time{

}
.article_introduce{
    background-color: #f3f3f4;
    margin:  2rem 10% 0 10%;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
}
.article_introduce  .into_icon1{
    position: absolute;
    left: -0.6rem;
    top: -0.8rem;
}
.article_introduce  .into_icon2{
    position: absolute;
    right: -0.6rem;
    bottom: -0.8rem;
}
.article_introduce  .into_icon1 img,.article_introduce  .into_icon2 img{
    width: 2rem;
}
.article_introduce  .into_icon2 img{
    transform: rotate(180deg);
}
.article_introduce p{
    font-size: .8rem;
    text-indent: 1.6rem;
    color: #595757;
}
.article_main{
    margin: 2rem 10% 1rem;
    color: #333333;
}
.article_main p{
    margin-top: 1rem;
    font-size: .8rem;
    line-height: 1.2rem;
    /*letter-spacing:1px;*/
    text-indent: 1.6rem;
}
.article_main  p  span{
    color: #fdd000;
    font-weight: bold;
}
.article_main img{
    margin-top: 1rem;
    max-width: 100%;
}
.article_end{
    text-align: center;
    font-size: 16px;
    color: #595757;
    margin: 2rem 0;
}

.tuijian{
    background-color: #f7f8f8;
    border-radius: 20px;
    width: 80%;
    margin:0 10% 2rem;
}
.tuijian_title{
    position: relative;

}
.tuijian_title .icon{
    position: absolute;
    top: -15px;
    left: 25px;
}
.tuijian_title .icon img{
    width: 4rem;
    height: auto;
}
.tuijian_title h2{
    font-size: 1.2rem;
    color: #1f2c5c;
    font-weight: bolder;
    padding: 3rem 0 0 3rem;
}
 .tuijian_title h2 span{
    color:#fdd000;
 }
 .tuijianlist{
     padding: 1rem  2rem  1rem 2rem;
 }
 .tuijianlist ul{
     list-style-type: disc;
    width: 100%;

 }
.tuijianlist ul li{
    height: 1.2rem;
    margin-top: .8rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}

.tuijianlist ul li a{
    font-size: .8rem;
    color: #595757;
}
.right_div  .musical_img{
    width:100%;
}
.right_div  .musical_img img{
    width:100%;
}